# Temperature Analysis I

In [2]:
import pandas as pd
from datetime import datetime as dt

# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')

# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'])

# Set the date column as the DataFrame index
df2 = df.set_index('date')
df2

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [223]:
from scipy import stats

# Filter data for desired months
june_df = df[df['date'].dt.month==6]
dec_df = df[df['date'].dt.month==12]

# Identify the average temperature for June
june_df.tobs.mean()

74.94411764705882

In [224]:
# Identify the average temperature for December
dec_df.tobs.mean()

71.04152933421226

In [7]:
# Create collections of temperature data
june_tobs_list = june_df['tobs'].tolist()
dec_tobs_list = dec_df['tobs'].tolist()

# Run paired t-test
stats.ttest_ind(june_tobs_list, dec_tobs_list)

### Analysis

Based on the unpaired t-test data analysis showing a p-value of less than 0.05, we can say that the difference in temperatures between June and December for Hawaii is statistically insignificant.

We use the unpaired t-test in this case because we are looking at independent weather conditions at different points in time.  Even though it is the same place (Hawaii), weather conditions have no specific dependency on the location of Hawaii, they are a global phenomenon.